<div id="<%= dom_id resource %>">
  <p>
    <strong>Name:</strong>
    <%= resource.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= resource.category %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= resource.status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= resource.description %>
  </p>

</div>
